* {
    background-color: black;
}

button {
    background-color: white;
}

.container {
    position:relative;
}

.center {
    margin: auto;
}

.calBody {
    width: 400px;
    height: 500px;
    background-color: rgb(31, 28, 28);
    border: 1px solid #333;
}